.App {
	height: 100vh;
	width: 100vw;
  }
  .Map {
	height: 100vh;
	width: 100vw;
  }
  /* map container height and width to be provided to GoogleMaps Component */
  .map_container {
	height: 100%;
	width: 100%;
  }